<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>Butterfly Family Classifier</div>
                <div class='instructions'> Upload an image of a butterfly and get a prediction that places it in one of the following six families:</div>
                <div class='image-container'><img src="https://www.thoughtco.com/thmb/S5vU-XfOw1YVWUAL6jR5VWmfHeQ=/1600x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/18122037943_a9767be980_h-58b8e0403df78c353c24302b.jpg" height='200' width= '250'>
                <label id='example-label'>Swallowtails (Family Papilionidae)</label><img src="https://www.thoughtco.com/thmb/iRde0_ujIemRi27i2SuNglJzzUk=/3455x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8971741860_0d0abb92cb_o-58b8e0395f9b58af5c9020a5.jpg" height='200' width= '250'>
                <label id='example-label'>Brush-footed Butterflies (Family Nymphalidae)</label></div>
                <div class='image-container'><img src="https://www.thoughtco.com/thmb/7rpmhSg3BKqe2d2ruAHh9ge2X-E=/1690x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8904502866_c791943364_o-58b8e0275f9b58af5c901f9c.jpg" height='200' width= '250'>
                <label id='example-label'>Gossamer-winged Butterflies (Family Lycaenidae)</label><img src="https://www.thoughtco.com/thmb/E2HelL04nn7CsNiN55thDcCMC-s=/3239x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/16601951821_534d393598_o-58b8e01f3df78c353c242edc.jpg" height='200' width= '250'>
                <label id='example-label'>Metalmarks (Family Riodinidae)</label></div>
                <div class='image-container'>
                <img src="https://www.thoughtco.com/thmb/7QTKX3F2lv96eHaxOv1scq9vn7A=/2082x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-518346597-58b8e0163df78c353c242e73.jpg" height='200' width= '250'>
                <label id='example-label'>Skippers (Family Hesperiidae)</label>
                <img src="https://www.thoughtco.com/thmb/cD7XiSwNbC4__LwVijjR9f9DICA=/2984x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/14311264791_7d2aed2e6b_o-58b8e0303df78c353c242ffe.jpg" height='200' width= '250'>
                <label id='example-label'>Whites and Sulphurs (Family Pieridae)</label>
                    
                </div>


                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
